{% extends 'padre.html' %}
{% load static %}

{% block contenioQueCambia %}
<main>
        <h1>Micaela Esposito</h1>
    <img src="/static/app_coder/assets/img/testimonials-1.jpg" alt="Biografia">
    <div class="row">
        <h2>Biografia</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident esse, nobis necessitatibus enim earum repellendus ex ipsa dolores voluptatum vitae eum laborum labore omnis iste quidem atque dolore. Culpa, repudiandae.</p>
        <h2>Caracteristica</h2>
        <ul>
            <li>Caracteristica 1</li>
            <li>Caracteristica 2</li>
            <li>Caracteristica 3</li>
            <li>Caracteristica 4</li>
        </ul>
    </div>
</main>
{% endblock %}