{% extends 'padre.html' %}
{% load static %}

{% block contenioQueCambia %}
<main>
   <h1>Buscador de trabajos entregados</h1>
    <!-- #Buscador de alumno y entregables-->
  <form action="busca" method="POST">
    {% csrf_token %}
    <label for="nombre">NOMBRE:</label>
    <input type="text" name="nombre">
    <!-- BOTON  -->
    <input type="submit" value="BUSCAR">
  </form>


<div style="margin-top:50px; padding: 50px;">
  <form action="altasEntregas">
    <h1>Nuevas Entregas</h1>
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre">

    <input type="submit" value="Enviar">
</form>
</div>
</main>
{% endblock %}
